@piktur:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}

# We have aborted an attempt to use node-linker=pnp.
# Numerous issues prevent its adoption
# - Install scripts fail because `node` is called with --require .pnp.cjs
# - WebStorm can't resolve executable paths for typescript, eslint and prettier (it detects Yarn based presence of .pnp.cjs)
# I have not benchmarked moduleResolution but it did appear that WebStorm consumed less memory -- inconclusive.
# node-linker=pnp
# symlinks=false

# This causes a second installation attempt in CI and docker contexts...
# use-node-version=${NODE_VERSION:-22.14.0}

node-version=${NODE_VERSION:-22.14.0}
use-pnpm=9.12.2